@tailwind base;
@tailwind components;
@tailwind utilities;

/* tokens */
:root {
  --color-black: 0 0% 11%;
  --color-white: 0 0% 100%;
  --color-antique-50: 42 33% 94%;
  --color-antique-100: 43 38% 89%;
  --color-antique-200: 43 35% 83%;
  --color-antique-300: 43 30% 75%;
  --color-antique-400: 43 30% 66%;
  --color-antique-500: 43 30% 58%;
  --color-antique-600: 43 22% 47%;
  --color-antique-700: 43 20% 37%;
  --color-antique-800: 42 14% 27%;
  --color-antique-900: 43 8% 17%;
  --color-antique-950: 48 8% 12%;
  --color-green-800: 166 87% 22%;

  --height-nav: 5rem;
  --height-screen: 100vh;

  @media (min-width: 640px) {
    --height-nav: 6rem;
  }

  @media (min-width: 1024px) {
    --height-nav: 8rem;
  }

  @supports (height: 100svh) {
    --height-screen: 100svh;
  }
}
